## Preprocessing

In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df.drop(columns=['EIN'], inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [12]:
# Look at the NAME value counts to identify and replace with "Other"
name_counts = application_df["NAME"].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
names_to_replace = list(name_counts[name_counts <= 10].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                                                     21202
PARENT BOOSTER USA INC                                                     1260
TOPS CLUB INC                                                               765
UNITED STATES BOWLING CONGRESS INC                                          700
WASHINGTON STATE UNIVERSITY                                                 492
                                                                          ...
AMERICAN POSTAL WORKERS UNION                                                11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER       11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                     11
FINANCIAL PLANNING ASSOCIATION                                               11
SLOW FOOD U S A INC                                                          11
Name: count, Length: 205, dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [17]:
# You may find it helpful to look at APPLICATION value counts >1
application_counts[application_counts > 1]

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
Name: count, dtype: int64

In [18]:
application_counts[application_counts < 500].index

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [20]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [22]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis="columns").values
y = application_with_dummies_df["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=44)

# New Section

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_feature = len(X_train[0])
hidden_nodes_layers1 = 80
hidden_nodes_layers2 = 30
hidden_nodes_layers3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layers1, input_dim=number_input_feature, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layers2, activation="sigmoid")
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layers3, activation="sigmoid")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1,  activation="sigmoid")
)

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                            25,120

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 10)                               310

 dense_3 (Dense)                       (None, 1)                                 11

 Total params: 27,871 (108.87 KB)

 Trainable params: 27,871 (108.87 KB)

 Non-trainable params: 0 (0.00 B)

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.7368 - loss: 0.5442
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7841 - loss: 0.4557
Epoch 3/100
804/804  2s 3ms/step - accuracy: 0.7912 - loss: 0.4400
Epoch 4/100
804/804  3s 3ms/step - accuracy: 0.7874 - loss: 0.4424
Epoch 5/100
804/804  4s 2ms/step - accuracy: 0.7880 - loss: 0.4404
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7949 - loss: 0.4312
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7903 - loss: 0.4360
Epoch 8/100
804/804  2s 3ms/step - accuracy: 0.7937 - loss: 0.4350
Epoch 9/100
804/804  3s 3ms/step - accuracy: 0.7911 - loss: 0.4374
Epoch 10/100
804/804  4s 2ms/step - accuracy: 0.7925 - loss: 0.4292
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7955 - loss: 0.4264
Epoch 12/100
804/804  3s 2ms/step - accuracy: 0.7882 - loss: 0.4344
Epoch 13/100
804/804  2s 3ms/step - accuracy: 0.7940 - loss: 0.4297
Epoch 14/100
804/804  3s 4ms/step - accuracy: 0.7944 - loss: 0.4288
Epoch 15/100
804/804  4s 2ms/step - accuracy: 0.7929 - loss: 0.4272
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7961 - loss: 0.4288
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7921 - loss: 0.4282
Epoch 18/100
804/804  3s 3ms/step - accuracy: 0.7952 - loss: 0.4241
Epoch 19/100
804/804  3s 3ms/step - accuracy: 0.7984 - loss: 0.4234
Epoch 20/100
804/804  4s 2ms/step - accuracy: 0.7966 - loss: 0.4202
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7988 - loss: 0.4200
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7968 - loss: 0.4241
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.7984 - loss: 0.4231
Epoch 24/100
804/804  3s 3ms/step - accuracy: 0.7950 - loss: 0.4239
Epoch 25/100
804/804  4s 2ms/step - accuracy: 0.7947 - loss: 0.4250
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7979 - loss: 0.4189
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7963 - loss: 0.4218
Epoch 28/100
804/804  3s 2ms/step - accuracy: 0.7997 - loss: 0.4166
Epoch 29/100
804/804  3s 4ms/step - accuracy: 0.7954 - loss: 0.4241
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7990 - loss: 0.4185
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7961 - loss: 0.4220
Epoch 32/100
804/804  3s 2ms/step - accuracy: 0.7982 - loss: 0.4165
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7983 - loss: 0.4175
Epoch 34/100
804/804  2s 2ms/step - accuracy: 0.7978 - loss: 0.4180
Epoch 35/100
804/804  3s 3ms/step - accuracy: 0.8016 - loss: 0.4136
Epoch 36/100
804/804  4s 2ms/step - accuracy: 0.7980 - loss: 0.4177
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.8008 - loss: 0.4173
Epoch 38/100
804/804  3s 2ms/step - accuracy: 0.8014 - loss: 0.4121
Epoch 39/100
804/804  3s 3ms/step - accuracy: 0.8004 - loss: 0.4186
Epoch 40/100
804/804  3s 3ms/step - accuracy: 0.8000 - loss: 0.4199
Epoch 41/100
804/804  4s 2ms/step - accuracy: 0.7936 - loss: 0.4245
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7951 - loss: 0.4191
Epoch 43/100
804/804  3s 2ms/step - accuracy: 0.7995 - loss: 0.4146
Epoch 44/100
804/804  2s 3ms/step - accuracy: 0.7988 - loss: 0.4117
Epoch 45/100
804/804  3s 3ms/step - accuracy: 0.7956 - loss: 0.4160
Epoch 46/100
804/804  4s 2ms/step - accuracy: 0.8057 - loss: 0.4099
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.7960 - loss: 0.4170
Epoch 48/100
804/804  3s 2ms/step - accuracy: 0.8048 - loss: 0.4123
Epoch 49/100
804/804  4s 3ms/step - accuracy: 0.8032 - loss: 0.4145
Epoch 50/100
804/804  2s 3ms/step - accuracy: 0.8016 - loss: 0.4126
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.8025 - loss: 0.4100
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.8039 - loss: 0.4060
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.8012 - loss: 0.4121
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.8065 - loss: 0.4082
Epoch 55/100
804/804  5s 5ms/step - accuracy: 0.8009 - loss: 0.4126
Epoch 56/100
804/804  3s 4ms/step - accuracy: 0.8066 - loss: 0.4037
Epoch 57/100
804/804  4s 2ms/step - accuracy: 0.8010 - loss: 0.4101
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7968 - loss: 0.4136
Epoch 59/100
804/804  3s 3ms/step - accuracy: 0.8040 - loss: 0.4103
Epoch 60/100
804/804  3s 3ms/step - accuracy: 0.8004 - loss: 0.4124
Epoch 61/100
804/804  4s 2ms/step - accuracy: 0.8005 - loss: 0.4105
Epoch 62/100
804/804  3s 2ms/step - accuracy: 0.8001 - loss: 0.4129
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.8039 - loss: 0.4089
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7985 - loss: 0.4136
Epoch 65/100
804/804  3s 3ms/step - accuracy: 0.8000 - loss: 0.4123
Epoch 66/100
804/804  2s 3ms/step - accuracy: 0.8019 - loss: 0.4129
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7991 - loss: 0.4127
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.8012 - loss: 0.4137
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.8021 - loss: 0.4111
Epoch 70/100
804/804  4s 4ms/step - accuracy: 0.7991 - loss: 0.4162
Epoch 71/100
804/804  4s 3ms/step - accuracy: 0.7999 - loss: 0.4116
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.8078 - loss: 0.4061
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.8061 - loss: 0.4060
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7970 - loss: 0.4180
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.8011 - loss: 0.4136
Epoch 76/100
804/804  4s 3ms/step - accuracy: 0.8031 - loss: 0.4106
Epoch 77/100
804/804  2s 3ms/step - accuracy: 0.8055 - loss: 0.4073
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.8020 - loss: 0.4117
Epoch 79/100
804/804  3s 2ms/step - accuracy: 0.8067 - loss: 0.4070
Epoch 80/100
804/804  2s 2ms/step - accuracy: 0.8010 - loss: 0.4124
Epoch 81/100
804/804  3s 2ms/step - accuracy: 0.8059 - loss: 0.4083
Epoch 82/100
804/804  3s 3ms/step - accuracy: 0.8052 - loss: 0.4080
Epoch 83/100
804/804  4s 2ms/step - accuracy: 0.8038 - loss: 0.4090
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.8025 - loss: 0.4109
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.8012 - loss: 0.4098
Epoch 86/100
804/804  2s 2ms/step - accuracy: 0.8044 - loss: 0.4050
Epoch 87/100
804/804  3s 3ms/step - accuracy: 0.8052 - loss: 0.4065
Epoch 88/100
804/804  4s 2ms/step - accuracy: 0.8056 - loss: 0.4055
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7993 - loss: 0.4105
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.8068 - loss: 0.4034
Epoch 91/100
804/804  3s 2ms/step - accuracy: 0.8023 - loss: 0.4081
Epoch 92/100
804/804  3s 3ms/step - accuracy: 0.8006 - loss: 0.4116
Epoch 93/100
804/804  4s 2ms/step - accuracy: 0.8032 - loss: 0.4067
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.8035 - loss: 0.4070
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.8055 - loss: 0.4076
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.8038 - loss: 0.4081
Epoch 97/100
804/804  4s 4ms/step - accuracy: 0.8039 - loss: 0.4073
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.8034 - loss: 0.4075
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.8042 - loss: 0.4078
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.8031 - loss: 0.4089

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7771 - loss: 0.4715
Loss: 0.47154679894447327, Accuracy: 0.7771428823471069

In [30]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

#Neural Network Model Optimization Report
#Overview of the analysis:
**The pourpse of this analysis was to develop a tool that helps select applicants for funding with the highest chances of sucsess.**

**In the initial model, I used the starting criteria that was provided and achieved an accuracy of about 75% In the optimized model, serveral data attributes were adjusted and the model accuracy improved to over 77%.**

#My Results:
#Data Processing
1 - What variable(s) are the target(s) for your model?

**The IS_SUCCESSFUL data column This the variable for the target**

2 - What variable(s) are the features for your model?

**NAME, APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, and ASK_AMT.**

3 - What variable(s) should be removed from the input data because they are neither targets nor features?

**The "EIN" removed sinced it was not important data for optimization.**

#Compiling, Training, and Evaluating the Model
1 - How many neurons, layers, and activation functions did you select for your neural network model, and why?

**For the model, 3 hidden layers with many neurons each were used to increase the accuracy above 77%**

2 - Were you able to achieve the target model performance?

**Yes**

3 - What steps did you take in your attempts to increase model performance?

**I needed to convert the "NAME" variable into data inorder to increase the model performance as well as adding a third layer and using sigmoid functions.**

# Summary

Overall, I was able to get about 75% accuracy by using the original model, but by increasing the nuerons, layers, and activation functions, I was able to increase the accruacy to of 77%. This number can be increased by continuing to add more values but comes at a cost since in doing so will also increase the cost of general expenses since this model is more expensive.